.body{
    margin:50px;
    /* background-color: aqua; */
    
}
.topic{
    text-align: center;font-size: 60px;
    /* font-style:italic; */
    margin-bottom: 30px;
    
}
.content{
    text-align:left;font-size: 22px;
    font-style: oblique;
}
.img{
    max-width: 100%; 
    border-radius: 8px;
    margin-top: 30px;
}